---
import aboutImg from "/src/content/post/first-post/cover.jpg";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, this is Ives Natsume's personal blog.
		</p>
		<div class="flex justify-center">
			<Image
				alt="Rena"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
		<p>Here are my brief introductions:</p>
		<ul class="list-inside list-disc">
			<li>HAM with Class A Operator's Certification accreditated by CRAC</li>
			<li>Netherland DSI re-enactor</li>
			<li>Scaled model maker</li>
			<li>Undergraduate student in Chang'an University</li>
		</ul>
		<p>
			Clone or fork this Astro theme's <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like!
		</p>
	</div>
</PageLayout>
